.widgets {
	position: relative;
	height: 100%
}

.widgets .first {
	height: 380px;
}

.height-1 {
	height: 42px;
}

.height-2 {
	height: 100px;
}

.height-3 {
	height: 158px;
}

.height-4 {
	height: 216px;
}

.height-5 {
	height: 274px;
}

.height-6 {
	height: 332px;
}

.height-7 {
	height: 390px;
}

.height-8 {
	height: 448px;
}

.widget .internallinkImg, .widget .internallinkImg a {
	height: 100%;
}

.widget {
	border-radius: 5px;
	padding: 2px 2px 2px 2px;
}

.widget.noPadding {
	border-radius: 5px;
	padding: 0px 0px 0px 0px;
}

.widget.noPadding img {
	border-radius: 3px;
}

.widget .widget-content {
	position: relative;
	height: 100%;
}

.widget .widget-content ul {
	margin: 10px 0px 0px 5px;
}

.widget img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	display: block;
}

.widget ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px 20px 5px;
}

.widget ol {
	padding: 0px;
	margin-left: 20px;
}

.widget .widget-content ul.dash {
	margin: 10px 0px 0px 20px;
}

.widget ul.dash>li:before {
	content: "-";
	position: absolute;
	margin-left: -1em;
}

.widget p {
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
}

.widget .opacity-wrap-gradient {
	background-image: url(../images/package/backDegrade.png);
	background-repeat: repeat-x;
	background-position: right top;
	background-color: #8a8a8a;
	border-radius: 5px;
}

.widget .opacity-wrap-gradient-border {
	background-image: url(../images/artists/backgroundBorder.png);
	background-position: top center;
	background-size: 100% 100%;
	background-color: #cfcdce;
	border-radius: 5px;
	opacity: 0.55 !important;
}

.widget .opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
	opacity: 0.55;
}

.widget .opacity-wrap {
	background-color: #ffffff;
	border-radius: 5px;
}

.side .widget {
	position: relative;
	margin-top: 10px;
}

.column-center .widget {
	padding: 30px 0px 10px 0px;
	height: 450px;
	position: relative;
}

.column-center .widget .widget-content {
	height: 100%;
	padding: 0px 20px 0px 20px;
}

.column-center .widget .opacity-wrap-gradient {
	border-radius: 5px;
}

.column-center .widget, .column-center .widget .opacity-wrap-gradient,
	.column-center .widget .opacity-wrap {
	border-top: none !important;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.column-center .widget h3 {
	margin-top: 25px;
	margin-bottom: 10px;
	color: white;
	border-bottom: 1px solid white;
}

/* summary */
.widget .summary {
	vertical-align: top;
	display: inline-block;
	width: 200px;
	margin: 0;
}

.widget .summary ul {
	list-style: none;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	padding-left: 4px;
}

.widget .summary a {
	cursor: pointer;
	color: white;
}

#bottom .widget {
	position: relative;
}

.side .widget h3 {
	color: black;
	text-align: center;
	display: block;
	border-bottom: 1px solid white;
}

/* partners */
.widget .partner {
	margin-bottom: 20px;
}

.widget .partner .logo {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.widget .partner .logo img {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.widget .partner p {
	width: 370px;
	display: inline-block;
	margin-top: 0px;
	margin-left: 15px;
}

/* image */
.widget .image {
	padding: 0px;
	margin: 0px;
	height: 100%;
	position: relative;
}

.widget .image .credit{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #828282;
    color: white;
    width: 100%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
}

.education .widget .image .credit{
	background-color: #9db477;
}

.accompanying .widget .image .credit {
	background-color: #237587;
}

.devartists .widget .image .credit {
	background-color: #237787;
}

.widget.medium-img .image {
	height: 85%;
}

/* chiffres */
.widget .chiffres li {
	text-align: center;
}

.widget .chiffres .chiffre {
	font-size: 1.3em;
}

/* concerts */
.widget .concerts h3 {
	border-bottom: solid 1px white;
	margin-top: 15px;
	color: black;
	font-size: 1em;
	margin-bottom: 5px;
}

.widget .artistContact {
	text-align: center;
}

/* link */
.widget .link h3 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* internallink */
.widget .internallink {
	padding: 5px 5px 5px 5px;
}

.widget .internallink a, .widget .internallink a:VISITED {
	color: black;
	text-transform: uppercase;
	text-align: center;
	display: block;
	font-weight: bold;
}

/* artistContact */
.widget .artistContact a {
	color: white;
	font-weight: bold;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}

/* objectives */
.side .widget .objectives {
	text-align: center;
}

.description {
	margin: 20px;
}

.description p {
	margin-bottom: 5px;
}

/* profile */
.external-link a {
	height: 45px;
	width: 45px;
	overflow: hidden;
	display: inline-block;
	margin-left: 13px;
	border-radius: 5px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.external-link .youtube {
	background-image: url(/images/socnet/youtube.png);
}

.external-link .facebook {
	background-image: url(/images/socnet/facebook.png);
}

.external-link .bandcamp {
	background-image: url(/images/socnet/bandcamp.png);
}

.external-link.lecommondiamond .youtube {
	background-image: url(/images/artists/lecommondiamond/youtube.png);
}

.external-link.lecommondiamond .facebook {
	background-image: url(/images/artists/lecommondiamond/facebook.png);
}

.external-link.lecommondiamond .bandcamp {
	background-image: url(/images/artists/lecommondiamond/bandcamp.png);
}

.external-link.ihr .youtube {
	background-image: url(/images/artists/ihr/youtube.png);
}

.external-link.ihr .facebook {
	background-image: url(/images/artists/ihr/facebook.png);
}

.external-link.ihr .bandcamp {
	background-image: url(/images/artists/ihr/bandcamp.png);
}

/* accompanying */
.accompanying .widget .opacity-wrap {
	background-color: #c6dede;
	border-radius: 5px;
}

.accompanying .widget {
	border: 2px solid #237587;
}

.accompanying .widget .image {
	height: 338px;
}

.accompanying .widget h2 {
	color: white;
	text-transform: uppercase;
}

.accompanying .column-center .widget {
	border-top: none;
}

/* education */
.education .widget {
	border: 2px solid #9db477;
}

.education .column-center .widget h3 {
	color: #9db477;
	border-bottom-color: #9db477;
}
	

.education .column-center .widget {
	border-top: none;
}

.widget {
	border: 2px solid #828282;
}

.artist .widget {
	border: 0px;
}

.bottom .widget {
	border: 0px;
}

.devartists .widget {
	border: 2px solid #237787;
}

.devartists .column-center .widget h3 {
	color: #237787;
	border-bottom-color: #237787;
}

.devartists .internallinkImg {
	padding: 0px !important;
}

/* ARTIST SECTION */
.artist .widget .opacity-wrap {
	background-color: #8a8a8a;
}

.artist .description p {
	color: white;
}

.artist .description ul li {
	color: white;
}

.artist .column-left .external-link {
	margin-top: 7px;
	margin-left: 10px;
}

#bottom.artist .videos>div {
	display: inline-block;
	vertical-align: top;
	width: 320px;
}

#bottom.artist .videos .video .video-content {
	width: 320px;
	height: 105px;
    position: relative;
}

.video-content .image{
	overflow: hidden;
}

.video-content img {
	margin: auto;
    top: -13px;
    right: -13px;
    bottom: -13px;
    left: -13px;
    height: 108px;
    position: absolute;
}

.video-content .description {
	margin-left: 175px;
}

#bottom.artist .videos .video {
	width: 345px;
	background-image: url(../images/widget/video/background.png);
	background-repeat: repeat-x;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
}

#bottom.artist .videos {
	width: 815px;
	display: inline-block;
}

#bottom.artist .videos ul {
	margin: 0px;
}

#bottom.artist .videos .video {
	height: 110px;
}

#bottom.artist .videos .video-next {
	width: 30px;
	height: 110px;
}

.video-control {
	height: 80px;
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-top: 17px;
}

.video-control a {
	background-repeat: no-repeat;
	height: 100%;
    width: 100%;
    display: block;
}

.video-previous a {
	background-image: url(../images/widget/video/left.png);
}

.video-next a {
	background-image: url(../images/widget/video/right.png);
}

.video .decoLeft {
	position: absolute;
	top: 0;
	left: -23px;
	height: 100%;
	width: 23px;
	background-image: url(../images/widget/video/backLeft.png);
	background-repeat: no-repeat;
}

.video .decoRight {
	position: absolute;
	top: 0;
	right: -23px;
	height: 100%;
	width: 23px;
	background-image: url(../images/widget/video/backRight.png);
	background-repeat: no-repeat;
}

#bottom.artist .videos .image {
	height: 80px;
	width: 140px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid black;
}

.widget-selected {
	border-right: none;
	width: 230px;
	z-index: 100;
}

/*carousel*/
.headband-carousel {
	height: 130px;
	border: 2px solid black;
	border-radius: 5px;
}

.headband-carousel ul li {
	display: inline;
	padding: 0;
}

.headband-carousel ul li img {
	width: 259px;
	height: 130px;
}

.headband-carousel .border-wrap {
	position: absolute;
	width: 1036px;
	height: 130px;
	background-color: transparent;
	border: 2px solid black;
	border-radius: 5px;
	margin: -2px;
	z-index: 100;
}

/*jcarousel*/
.jcarousel {
	position: relative;
	overflow: hidden;
}

.jcarousel ul {
	width: 20000em;
	position: relative;
	/* Optional, required in this case since it's a <ul> element */
	list-style : none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	/* Required only for block elements like <li>'s */
	float: left;
}

/* Video */
.youtubePanelBack {
	position: fixed;
	left: 0px;
	top: 0px;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.80;
	filter: alpha(opacity = 80);
	z-index: 1000;
}

.youtubePanel {
	left: 50%;
	top: 50%;
	position: fixed;
	overflow: visible;
	display: block;
	z-index: 1100;
}

.youtubePopup {
	border: none;
	padding: 0;
	margin: 0;
	width: 800px;
	height: 600px;
	position: relative;
	margin-top: -300px;
	margin-left: -400px;
	display: block;
}

.video .description {
	display: inline-block;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.clickable {
	cursor: pointer;
}

.vertical-align {
	height: 80px;
	width: 140px;
	position: absolute !important;;
	top: 50%;
	transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-webkit-transform:translate(0%, -50%);
	left: 10px;
}

.blockRight.appscenic h3 {
	margin-top: 75px;
	text-transform: uppercase;
}

.blockRight.appscenic div {
	text-align: center;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}

.blockRight.presentation h3 {
	margin-top: 40px;
	text-transform: uppercase;
}

.blockRight.presentation div {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 35px;
}

/*Sub menu*/
.subnav.selected {
	background-color: #ffffff;
    opacity: 0.90;
}

.ps-container:hover>.ps-scrollbar-y-rail {
	background-color: #eee;
	opacity: 0.9;
}