<#import "/widget/image.html" as images>
<h3>Présentation :</h3>
<p>L’association développe le projet artistique et professionnel d'artistes musiciens « en développement ».</p>
<p>A l’aide d’un réseau de partenaires professionnels de la filière musicale qui mettent leurs compétences au service de l’association, Topophone coordonne le développement de chaque artiste en mettant à sa disposition des services lui permettant d’opérer une mutation vers sa professionnalisation.</p>
<p>Topophone oriente son accompagne vers un développement « live » du groupe. Elle gère en interne les volets « booking », « financement », « scénographie et mise en scène » et « management ». En parallèle, selon les besoins du groupe, elle mobilise des partenaires (édition, label, communication) afin de développer en cohérence l'ensemble du projet.</p>
<p>Ci-dessous un schéma illustrant le dispositif d'accompagnement de Topophone :
<@images.image href="/images/devartists/devartistgrah.png" />
</p>

<h3>Objectifs généraux :</h3>
<ul>
	<li>- Développer les projets artistiques des groupes accompagnés, avec une orientation donnée sur le développement « scénique » du groupe.</li>
	<li>- Faciliter la professionnalisation des groupes accompagnés par la mutualisation des compétences des partenaires engagés auprès du groupe</li>
</ul>
<h3>Les étapes d’accompagnement :</h3>
<ul>
	<li>1 - Rencontre avec l’artiste</li>
	<li>2 - Analyse du profil du groupe, de ses besoins et de ses ambitions</li>
	<li>3 - Établissement d’objectifs de développement du groupe à court et moyen terme</li>
	<li>4 - Mise en place par Topophone d’une formule d’accompagnement adaptée</li>
	<li>5 - Mobilisation des partenaires en fonction de l'état d'avancée du développement (scénographe, metteur en scène, label, studio d’enregistrement)</li>
</ul>
<h3>L'équipe Topophone :</h3>
<div>
Topophone est composée de deux équipes:
	<ul>
		<li>- Une équipe « Production » - booking, administration, financement et coordination du projet.</li>
		<li>- Une équipe « Accompagnement scénique » - scénographie & mise en scène, que Topophone met à disposition du groupe en fonction de ses besoins et de son état d'avancement. Stéphane Bénazet & Damien Schamaneche (https://www.behance.net/damienschahmaneche)</li>
	</ul>
</div>
<h3>Une mutualisation des compétences :</h3>

Topophone mobilise un ensemble d’acteurs professionnels (studio d’enregistrement, graphiste, coach scénique, photographe, techniciens son et lumière, chargé de diffusion, scénographe) qui mutualisent leurs compétences pour développer le projet artistique du groupe accompagné. Topophone coordonne la mise en oeuvre des actions afin de proposer un projet cohérent et abouti.

<h3>Les Groupes (mosaique de groupes) :</h3>
<div>
	Le Common Diamond International Hyper Rythmique
</div>