<#import "/widget/image.html" as images>
<h3>Présentation :</h3>
<p>
En parallèle au projet « Développement d'artistes », Topophone développe une action annexe de « Développement Scénique ». Celle-ci émane d'un constat réalisé sur les premières années de fonctionnement de Topophone. La plupart des groupes rencontrés se consacrent quasi-exclusivement à la partie musicale de leur projet, en n'envisageant que très rarement la scénographie de leur spectacle.
</p>
<p>
Après avoir initié cette action dans le cadre du projet « Développement d'Artistes » Topophone a décidé développer ce volet à part entière et de le proposer à tout groupe désireux de travailler la mise en scène de son spectacle afin de construire un live ambitieux et authentique.
</p>

<h3>Objectifs généraux :</h3>
<ul>
<li>- Questionner le groupe impliqué sur son identité scénique</li>
<li>- Permettre à chaque groupe de développer la scénographie et la mise en scène de son projet</li>
<li>- Donner à chaque groupe des clefs de développement de son spectacle</li>
</ul>

<h3>Les étapes de mise en place :</h3>

<div>
	ETAPE 1 : TRAVAIL DU LIVE
	Durée : 3 jours
	Objectifs : Sensibilisation à l'action de coaching scénique
	
	Actions proposées :
Placement dans l'espace
Interprétation vocale et musicale
Travail sur l'intensité et la linéarité du set
Travail sur les transitions
Lancement des collaboration techniques (technicien son, technicien lumière)


	ETAPE 2 : SUIVI DURANT LA TOURNEE ET RESIDENCE DE QUESTIONNEMENT
             
		Durée : 6 mois
		Objectifs : Suivi des avancées scéniques du groupe
		Actions proposées :
Travail de remédiation au cours de la tournée suivant la 1ere résidence
Organisation d'une 2eme résidence sur les bases des conclusions tirées sur la tournée 


	ETAPE 3 : DEGAGER L'UNIVERS VISUEL DU GROUPE
  	
		Durée : 2 mois
		Objectifs : Conception de la scénographie du groupe
		Actions proposées :
Echanges avec le groupe sur son identité, ses références et ses influences artistiques
Collaboration entre le scénographe et le metteur en scène pour la réalisation d'une première scénographie
Proposition au groupe, validation et conceptualisation du projet scénographique par un atelier scénographié


	ETAPE 3 : MISE EN SCENE DU LIVE
		Durée : 3 jours
		Objectifs : Livraison du matériel scénographique
		Actions proposées :
Livraison et installation par le scénographe du matériel de scénographie
Mise en scène du groupe sur la base du travail précédemment effectué et la nouvelle scénographie
</div>

<h3>L'équipe Topophone :</h3>
<ul>
	<li>- Mise en scène et scénographie du projet : Stéphane Bénazet : metteur en scène et Damien Schahmanech : scénographe.</li>
	<li>- Financement du spectacle : Formations de demandes de subventions réalisées par Topophone auprès des groupes.</li>
	<li>Lieu de résidence : Topophone dispose d'un partenariat de mise à disposition auprès de la salle « Le Club » à Rodez.</li>
</ul>

<h3>Exemple d'accompagnement scénique mené : Le Common Diamond</h3>
<p>
ETAPE 1 : Résidence son/lumière + coaching scénique. Résidence au Bolégason à Castres septembre 2013.
</p>
<p>
ETAPE 2 : Réflexions sur la partie visuelle du live, conceptualisation d'une scénographie reposant sur un diamant réfléchissant et équipés de LED à l'intérieur   
                  et sur 5 barres LED posés au sol. Janvier à Juillet 2013
</p>
<@images.image href="/images/devartists/scenicDesc1.png" />
<p>
ETAPE 3 : Livraison de la scénographie, synchronisation des éléments lumineux avec la musique, mise en scène du live. Résidence au Club à Rodez.
</p>
<@images.image href="/images/devartists/scenicDesc2.png" />

