<#import "/container/widgets.html" as container>
<#import "/widget/headband.html" as top>
<div id="top">
  <@top.headband main=artist.headband.main logo=artist.headband.logo />
</div>
<div id="page" class="artist">
	<div class="side column-left">
	  <@container.widgets>
		  <@container.widget opacity=true gradient=true class="first">
		      <#include "/artist/profile.html">
		  </@container.widget>
		   <@container.widget opacity=true gradient=false>
            <#include "/artist/audio.html">
        </@container.widget>
      </@container.widgets>
	</div>
   <div class="column-center">
      <@container.widgets>
        <@container.widget opacity=true gradient=true>
          <#include "/artist/description.html">
        </@container.widget>
      </@container.widgets>
   </div>
	<div class="side column-right">
      <@container.widgets>
        <@container.widget opacity=true onlyBorder=true class="first">
            <#include "/artist/concert.html">          
        </@container.widget>
         <@container.widget opacity=true gradient=false>
            <#include "/artist/contact.html">
        </@container.widget>
      </@container.widgets>
	</div>
</div>
<div id="bottom" class="artist">
  <@container.widgets>
      <@container.widget opacity=false gradient=false>
        <#include "/artist/videos.html">
      </@container.widget>
    </@container.widgets>
</div>
