<#import "/widget/image.html" as images>
<div class="videos">
	<div class="video">
	  <div class="decoLeft"></div>
    <div class="decoRight"></div>
		<a href="#"> <@images.image href="/images/artists/lecommondiamond/video1.png" /> </a>
			<div class="description">
				Clip "le 1er clip"<br/>
	      Common diamond<br/>
	      Elliot Broué / 2010
      </div>
	</div>
	<div class="video">
	  <div class="decoLeft"></div>
    <div class="decoRight"></div>
		<a href="#"> <@images.image href="/images/artists/lecommondiamond/video2.png" /> </a>
		<div class="description">
			Clip "AFTER ALL"<br/>
	    Common diamond<br/>
	    Elliot Broué / 2014
    </div>
	</div>
	<div class="video-next">
		<a href="#"></a>
	</div>
</div>
