<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Topophone</title>

<link rel="stylesheet" href="${appcontext}/topophone.css">

<script type="application/dart" src="${appcontext}/web/topophone.dart"></script>
<script src="${appcontext}/packages/browser/dart.js"></script>

</head>
<body>
	<div id="background"></div>
	<div id="site">
		<div id="header"></div>
		<nav></nav>
		<div id="content"></div>
	</div>
</body>
</html>
