<p>
Cet atelier permet aux jeunes de réaliser les grandes étapes d’une création musicale. L'objectif central de cet atelier est d'utiliser la création musicale pour travailler à l’acquisition de valeurs "éducatives et citoyennes" que sont le respect, l’échange et l'ouverture à l'autre.
</p>
<p>
Comment ?
</p>
<p>
Durant tout l’atelier, les participants appréhendent des notions musicales, découvrent des instruments et leurs spécificités, puis mettent en musique et interprètent (instruments, voix) un texte choisi au préalable (conte, poésie, nouvelles…). En fin de projet, les jeunes enregistrent leur création au sein d'un studio professionnel partenaire. Ci-dessous l'exemple d’un « projet-type » mené au sein d’une école toulousaine :
</p>
<p>Étape 1 : Présentation du projet et immersion (2h)</p>
<ul>
	<li>- Présentation du projet et du cadre d’intervention.</li>
	<li>- Découverte des grandes étapes de création d’une chanson, par le biais d’écoutes d’œuvres et d’activités autour de la pratique musicale.</li>
</ul>
<p>Étape 2 : L’apprentissage : les procédés d’écriture (5h)</p>
<ul>
	<li>- Découverte ludique des procédés d’écriture (rimes, epiphores, nombre de pieds..) et réinvestissement par la pratique (vocale, rythmique).</li>
</ul>
<p>Étape 3 : La création : écriture des paroles (6h)</p>
<ul>
	<li>- Définition par les élèves de la structure narrative de la chanson.</li>
	<li>- Élaboration du refrain en classe entière, puis travail par groupe pour l’élaboration des couplets.</li>
</ul>
<p>Étape 4 : Rencontre d’artistes et concert interactif (2h)</p>
<ul>
	<li>- Concert interactif réalisé par un groupe de musique professionnel.</li>
	<li>- Rencontre et échange entre les élèves et les artistes présents autour du métier de musicien, de l’univers artistique du groupe et des procédés de création.</li>
</ul>
<p>Étape 5 : Préparation à l’enregistrement (1h)</p>
<ul>
	<li>- Préparation à l’enregistrement : Présentation en classe des différentes étapes d’un enregistrement, suivie d’une mise en situation des élèves.</li>
</ul>
<p>Étape 6 : L’enregistrement (2h)</p>
<ul>
	<li>- Visite d’un studio professionnel, puis enregistrement de leur création au sein de celui-ci.</li>
</ul>
<p>Étape 7 : La participation à « L’Evènement des Apprentis-Musiciens » (1 journée)<br>(cf ci-dessous)</p>