html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
	tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
	legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0;
	background: transparent;
}

body {
	color: black;
	margin: 0px;
	border: 0px;
	padding: 0px;
	direction: ltr;
	overflow-y: scroll;
	height: 100%;
}

body, table td, select {
	font-family: Arial, "Trebuchet MS", Verdana, "Lucida Grande", Tahoma,
		Helvetica, "Sans-Serif";
	font-size: small;
	line-height: 140%;
}

div {
	background: transparent;
}

li, li a {
	color: #000;
	text-decoration: none;
}

a, a:visited, a:hover {
	cursor: pointer;
	color: grey;
	text-decoration: none;
}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: left bottom;
	background-image: url(images/background/default.jpg);
}

#background.devartists {
	background-image: url(images/devartists/background.jpg);
	background-position: left 15%;
}

#background.lecommondiamond {
	background-image: url(images/background/lecommondiamond.png);
	background-position: left 15%;
}

#background.ihr {
	background-image: url(images/background/ihr.jpg);
}

#background.education {
	background-image: url(images/background/education.jpg);
}

#site {
	height: 100%;
	width: 1050px;
	margin: -115px auto 0px;
}

#header {
	overflow: hidden;
	background-color: transparent;
	height: 290px;
	width: 100%;
	position: relative;
}

.absoluteCenter {
	position: absolute;
	left: 50%;
	top: 0;
}

.absoluteCenter img {
	position: relative;
	left: -50%;
}

#header .logo {
	top: 20px;
	z-index: 1000;
	width: 320px;
	height: 145px;
	margin-top: 5px;
}

#header #deco {
	background: url(images/menutop.png) 0px 0px no-repeat;
	width: 1060px;
	height: 290px;
	margin-left: auto;
	margin-right: auto;
}

#header #decoLeft {
	height: 290px;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
}

#header #decoRight {
	height: 290px;
	position: absolute;
	top: 0;
	right: 0;
	background: black;
}

#section {
	position: relative;
	margin: 0px auto;
	width: 1050px;
	min-height: 100%;
	padding-left: 5px;
}

#top {
	position: relative;
	width: 1040px;
	height: 145px;
}

#top .headband .main {
	border: 5px solid black;
	border-radius: 15px;
	width: 1030px;
	height: 137px;
}

#top .logo {
	z-index: 100;
	height: 100px;
	width: 100px;
	top: 95px;
	left: -43px;
}

#page {
	position: relative;
	margin-bottom: 10px;
	overflow-y: hidden;
}

#page .side {
	width: 220px;
	vertical-align: top;
}

#bottom {
	text-align: center;
}

.column-left {
	display: inline-block;
}

.column-right {
	display: inline-block;
}

.column-center {
	display: inline-block;
	width: 585px;
	height: 100%;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	vertical-align: top;
}

.two-column-center {
	display: inline-block;
	width: 775px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	vertical-align: top;
}

nav {
	padding: 0px;
	width: 1050px;
	height: 50px;
}

nav ul {
	background: transparent;
	list-style: none;
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 5px;
}

nav ul ul {
	display: none;
}

nav ul li:hover>ul {
	display: block;
	margin: -20px 0 0 0;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav .separator, nav .separator:HOVER {
	background-image: url(images/menuseparator.png);
	background-color: transparent;
	background-size: 100% 54px;
	background-repeat: no-repeat;
	margin-top: -9px;
	width: 202px;
	border: 0;
	height: 59px;
}

nav .smallSeparator, nav .smallSeparator:HOVER {
	background-color: transparent;
	width: 2px;
	border: 0;
	margin: 0px;
}

nav .first, nav .first:HOVER {
	width: 95px;
	margin: 0px;
	border-radius: 50px 0 0 0;
}

nav .last, nav .last:HOVER {
	width: 95px;
	margin: 0px;
	border-radius: 0 50px 0 0;
}

nav .mini, nav .mini:HOVER {
	width: 41px;
	margin: 0px;
	background: black;
}

nav ul li {
	float: left;
	width: 322px;
	height: 45px;
	margin: 0px;
	background: black;
	text-align: center;
}

nav ul .selected, nav ul li:hover {
	height: 65px;
}

nav ul .selected, nav ul li ul li:hover {
	border-bottom: none;
	height: 45px;
}

nav ul li a, nav ul li a:visited, nav ul li a:hover {
	display: block;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding-top: 12px;
}

nav ul ul {
	background: white;
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 100;
}

nav ul ul li {
	float: none;
	position: relative;
	margin: 5px 0px 0px 0px;
	background: black;
}

nav ul ul li a, nav ul ul li a:visited, nav ul ul li a:hover {
	color: white;
	text-decoration: none;
	padding-top: 8px;
}

.main .news {
	width: 1000px;
	overflow: hidden;
	height: 280px;
	margin: auto;
}

.main .ui-carousel>.wrapper {
	margin: 0;
	padding: 0;
	width: 9999px;
}

.main .news div {
	color: black;
	text-decoration: none;
}

.main .main-left {
	display: inline-block;
	vertical-align: top;
	width: 411px;
	margin-left: 5px;
	margin-right: 10px;
}

.main .main-right {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	width: 450px;
}

.main .next1 {
	position: absolute;
	cursor: pointer;
	top: 180px;
	cursor: pointer;
	opacity: 0.8;
	right: 0;
	width: 80px;
	height: 100px;
}

#footer {
	position: absolute;
	width:100%;
	padding-bottom: 10px;
}

#footer ul {
	list-style-type: none;
	padding: 0;
	margin-right: 5px;
	text-align: right;
	border-bottom: 1px solid grey;
	margin: 0 20px 0 20px;
	
}

#footer ul li {
	display: inline;
	padding-right: 5px;
	color: white;
}

#footer ul li .internallink {
	display: inline;
	color: white;
}

#footer .internallink a {
	color: white;
}